* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    background-color: #DAEDFF;
} */

.selector-for-some-widget {
    box-sizing: content-box;
}

.rounded-xl {
    border-radius: 1.1rem;
}

.widthFixoCard {
    width: 400px;
}

.letraCardLogin {
    font-size: 30px;
    text-align: center;
    padding: 0 30px;
    line-height: 0.8;
    font-weight: 400;
    margin: 20px 0 20px 0;
}

.teste {
    font-size: 10pt;
    margin: 0;
    color: #6A6F74;
    font-style: italic;
}

h2 {
    margin: 0;
    color: black;
}

hr {
    color: black;
}

.boletimHeader {
    color: white;
}